#cover {
    background-size: cover;
    background-color: #13c7d5;
    height: 7rem;
    text-align: center; }
  
  .navbar {
    max-height: 22%;
    text-transform: uppercase;
    font-weight: bold; }
  
  #login {
    font-weight: bold;
    text-transform: uppercase; }
  
  #our_products {
    text-align: center;
    margin-top: 2rem; }
  
  .feature-content {
    display: flex;
    margin-top: 5rem; }
  
  #stage-section {
    text-align: center; }
  
  #wb_about {
    margin-top: 2rem; }
  
  #main-footer {
    background-color: #606975;
    width: 100%;
    margin: 0 auto;
    color: white; }
  
  #main-footer {
      h5 {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;
    color: #FCFCFC;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; 
  }
  }
  
  #main-footer {
      a {
    color: white; 
  }
  }
  
  #footer-content {
    margin-left: 5px;
    padding-top: 3rem; }
  
  #footer_bottom {
    border-top: 1px solid #cccccc;
    font-size: 11px;
    margin-top: 30px;
    padding: 30px 0;
    display: flex;
    justify-content: space-around; }
  
  .footer__socialIcons{
      span {
          margin-left: 10px; 
      }
  }
  .fa-align-justify:before {
    content: "\f039"; }
 
iframe{
    width: 100%;
}
  @media (max-width: 506px) {
    #cover h1 {
      font-size: 20px !important;
     } 
     #cover{
     height: 5rem !important;
     }
    }
    @media (max-width: 769px) {
    .display-4 {
        font-size: 2.5rem;
    }
    }
    @media (max-width: 400px) {
        .display-4 {
            font-size: 2rem;
        }
        #jumbo-footer{
            font-size: 17px;
        }
    }
    