$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$btn-color: #0D5D77;

html,
body{
    width: 100%;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
}

.btn-info {
    background-color: $btn-color;
   }